Connected Services/ServiceSynchroCheckers/ServiceSynchroCheckers32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.176.128.212:8080/ServiceSynchroCheckers/ServiceSynchroCheckers.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceSynchroCheckers.Classes" />
  <xs:element name="GetUserByIdUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByIdUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceSynchroCheckers.Classes" minOccurs="0" name="GetUserByIdUserResult" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceSynchroCheckers.Classes" minOccurs="0" name="user" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceSynchroCheckers.Classes" minOccurs="0" name="user" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersAvailable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceSynchroCheckers.Classes" minOccurs="0" name="GetUsersAvailableResult" nillable="true" type="q4:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAvailabilityUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="is_available" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAvailabilityUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAvailabilityUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameByIdGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameByIdGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceSynchroCheckers.Classes" minOccurs="0" name="GetGameByIdGameResult" nillable="true" type="q5:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServiceSynchroCheckers.Classes" minOccurs="0" name="game" nillable="true" type="q6:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddGameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServiceSynchroCheckers.Classes" minOccurs="0" name="game" nillable="true" type="q7:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteGameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleByIdRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleByIdRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServiceSynchroCheckers.Classes" minOccurs="0" name="GetRoleByIdRoleResult" nillable="true" type="q8:Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServiceSynchroCheckers.Classes" minOccurs="0" name="role" nillable="true" type="q9:Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddRoleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServiceSynchroCheckers.Classes" minOccurs="0" name="role" nillable="true" type="q10:Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRoleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRoleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameUserByIdGameUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameUserByIdGameUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ServiceSynchroCheckers.Classes" minOccurs="0" name="GetGameUserByIdGameUserResult" nillable="true" type="q11:GameUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGameUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ServiceSynchroCheckers.Classes" minOccurs="0" name="gameUser" nillable="true" type="q12:GameUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGameUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddGameUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ServiceSynchroCheckers.Classes" minOccurs="0" name="gameUser" nillable="true" type="q13:GameUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGameUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGameUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGameUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteGameUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPieceByIdPiece">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPieceByIdPieceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ServiceSynchroCheckers.Classes" minOccurs="0" name="GetPieceByIdPieceResult" nillable="true" type="q14:Piece" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPiece">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ServiceSynchroCheckers.Classes" minOccurs="0" name="piece" nillable="true" type="q15:Piece" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPieceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPieceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePiece">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ServiceSynchroCheckers.Classes" minOccurs="0" name="piece" nillable="true" type="q16:Piece" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePieceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePieceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePiece">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePieceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePieceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>