Connected Services/ServiceSynchroCheckers/ServiceSynchroCheckers.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceSynchroCheckers.Class" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceSynchroCheckers.Class" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Game">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Game" nillable="true" type="tns:Game" />
  <xs:complexType name="Role">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="GameUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdGame" type="xs:int" />
      <xs:element minOccurs="0" name="IdUser" type="xs:int" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Side" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameUser" nillable="true" type="tns:GameUser" />
  <xs:complexType name="Piece">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdGameUser" type="xs:int" />
      <xs:element minOccurs="0" name="IsEliminate" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSuper" type="xs:boolean" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateAt" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Piece" nillable="true" type="tns:Piece" />
</xs:schema>